<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="angular.min.js"></script>
		<script src="data.js"></script>
		<script src="sponge-data.js"></script>
		<script src="sponges.js"></script>
		<script src="mega.js"></script>
		<script src="menger.js"></script>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="menger.css">
		<title>MegaMenger | Distributed Fractal Build 2014</title>
	</head>
	<body ng-app="mega">
		<div class="header">
			<h1><img src="mega-menger-logo.png" alt="Mega Menger"></h1>
			<div>
				<img src="supported-by-queen-mary.png" alt="Supported By Queen Mary University of London">
			</div>
		</div>
		<div class="footer">
			<p>&copy; Copyright <a href="http://www.megamenger.com">Mega Menger</a> 2014</p>
			<p>Main website by <a href="http://www.alisonhover.com/">Alison Hover</a>; 3D Menger Sponge by <a href="http://www.andrewt.net">Andrew Taylor</a></p>
		</div>
		<div ng-controller="mega" id="mega">
			<div scene="scene"
				 id="scene"
				 ng-class="{ pause: scene.pause }">
				<div ng-repeat="sponge in data.sponges"
					 ng-class="sponge.classes"
					 class="sponge">
					<div ng-repeat="face in sponge.faces"
					     face="face"
					     ng-class="face.classes"
					     ng-click="faceClick(face, $event)"
					     ng-style="{ background: face.img 
					     	? face.colour + ' url(\'http://megamenger.com/images/sponges/' + face.img + '\')'
					     	: (face.label
					     		? face.colour
					     		: 'white url(\'http://megamenger.com/images/sponge.png\')') }">
					     <span ng-if="face.label">{{face.label}}</span>
					</div>
				</div>
			</div>
			<article class="selected"
				 ng-if="selected"
				 ng-class="{ visible: showSelected }">
				<h1>{{selected.title}}</h1>
				<div class="content">
					<h2>Level {{selected.level}}</h2>
					<p ng-if="selected.venue">
						<strong>Venue:</strong> 
						<span html="selected.venue"></span>
					</p>
					<p ng-if="selected.date">
						<strong>Build dates:</strong> {{selected.date}}
					</p>
					<p ng-if="selected.person">
						<strong>Build organiser:</strong>
						<a href="mailto:{{selected.email}}" ng-if="selected.email">{{selected.person}}</a>
						<span ng-if="!selected.email">{{selected.person}}</span>
					</p>
					<img ng-if="selected.image" src="http://megamenger.com/images/sponges/{{selected.image}}">
					<p ng-if="selected.info">
						<span html="selected.info"></span>
					</p>
				</div>
			</article>
		</div>
	</body>
</html>