<html>
	<head>
		<script src="angular.min.js"></script>
		<script src="data.js"></script>
		<script src="sponges.js"></script>
		<script src="mega.js"></script>
		<script src="menger.js"></script>
		<link rel="stylesheet" type="text/css" href="menger.css">
	</head>
	<body ng-app="mega">
		<div ng-controller="mega" id="mega">
			<div scene="scene"
				 id="scene"
				 ng-class="{ pause: scene.pause }">
				<div ng-repeat="sponge in data.sponges"
					 ng-class="sponge.classes"
					 class="sponge">
					<div ng-repeat="face in sponge.faces"
					     face="face"
					     ng-class="face.classes"
					     ng-click="faceClick(face, $event)"
					     ng-style="{ background: face.img ? 'url(\'sponge-images/' + face.img + '\')' : face.colour }">
					</div>
				</div>
			</div>
			<article class="selected"
				 ng-if="selected"
				 ng-class="{ visible: showSelected }">
				<h1>{{selected.title}}</h1>
				<div class="content">
					<img src="sponge-images/{{selected.image}}">
					<p>{{selected.text}}</p>
				</div>
			</article>
		</div>
	</body>
</html>