body {
	font-family: 'PT Sans', sans-serif;
	padding: 0;
	margin: 0;
	color: white;
}

.header {
	background: #861e22;
	margin: 0;
	padding: 2em;
	display: flex;
	display: -webkit-flex;
	justify-content: stretch;
	-webket-justify-content: stretch;
}
.header h1 {
	flex: 1;
	-webkit-flex: 1;
}
.header div {
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	align-items: center;
}
.footer {
	background: #861e22;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em 2em;
	display: flex;
	display: -webkit-flex;
	justify-content: stretch;
	-webket-justify-content: stretch;
}
.footer p:first-child {
	flex: 1;
	-webkit-flex: 1;
}
body:not(.zoomed):not(.focussed) .footer a {
	position: relative;
	z-index: 1;
}

[scene] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
    -webkit-perspective: 500em;
    perspective: 500em;
}

[face] {
	width: 18em;
	height: 18em;
	left: calc(50% - 9em);
	top: calc(50% - 9em);
	position: absolute;
	border: 2px solid black;
	background-size: cover !important;
	background-position: 50% 50% !important;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	align-items: center;
}

.pause [face] {
	transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
}
[face].focussed {
	transform: translateZ(50em) !important;
	-ms-transform: translateZ(50em) !important;
	-moz-transform: translateZ(50em) !important;
	-webkit-transform: translateZ(50em) !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	border: none;
}
[face].topmost, [face].topmost:before [face].topmost:after {
	z-index: 10;
}

.hide-front .front,
.hole {
	visibility: hidden;
}

.top {
	background: blue;
}
.left {
	background: green;
}
.right {
	background: red;
}
[face].outer {
	cursor: pointer;
}
[face].outer:not(.focussed):hover:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: ' ';
	background: rgba(255, 255, 255, .5);
}
[face].inner:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: ' ';
	background: rgba(0, 0, 0, .3);
}
[face]:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: ' ';
	transition: background .4s;
	-ms-transition: background .4s;
	-moz-transition: background .4s;
	-webkit-transition: background .4s;
}
[face].top:before {
	background: rgba(0, 0, 0, .5);
}
[face].left:before {
	background: rgba(0, 0, 0, .25);
}
[face].focussed:before {
	background: white;
}
[face] span {
	font-size: 2em;
	width: 100%;
	padding: 1em;
	text-align: center;
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
	font-weight: bold;
	position: relative;
	z-index: 2;
}
[face].focussed span {
	opacity: 0;
}

.far-inner {
	z-index: 3;
}
.inner {
	z-index: 4;
}
.outer {
	z-index: 5;
}

.selected {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity .4s;
	-ms-transition: opacity .4s;
	-moz-transition: opacity .4s;
	-webkit-transition: opacity .4s;
	opacity: 0;
	overflow: auto;
	color: #666;
}
.selected.visible {
	opacity: 1;
}
.selected h1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 8rem;
	font-size: 4rem;
	text-align: center;
}
.selected .content {
	position: absolute;
	top: 10rem;
	left: 0;
	right: 0;
	padding: 0 2rem 2rem 2rem;
	font-size: 1.5em;
	text-align: justify;
}
a {
	color: white;
	font-weight: bold;
}
.selected a {
	color: #5c1517;
}
a:hover {
	text-decoration: none;
}
.content img {
	max-width: calc(100% - 2rem);
	float: right;
	margin: 2rem;
}